<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "com" class="org.saireddy.Laptop">
    </bean>

   <bean id = "dev" class="org.saireddy.Dev" autowire="byType">
   </bean>

    <bean id = "com1" class="org.saireddy.Desktop" primary="true">

    </bean>

</beans>